
.blind{
    position: absolute;
    width: 1px; height: 1px;
    overflow: hidden;
    margin: -1px;
    clip: rect(0 0 0 0);
}
body{ background: #000; color: #fff; 
    font-weight: 500; 
    line-height: 1.7; 
    font-family: 'Noto Sans KR', sans-serif;
    letter-spacing: -0.03em;
    max-width: 800px;

}
p{}
.inner { padding: 0 12px;}
img{max-width: 100%;}
h2 {  font-size:30px ;font-weight: 700; text-align: center; display: block; color: #fff; font-weight: 700;  margin:130px 0; }
h2 span {display: block; line-height: 1;}
.btn.buy { width: 120px; height: 35px; line-height: 35px;  margin-bottom: 10px; font-weight: 400; text-align: center; bottom: 70px; color: #fff; background: #0070C9; border-radius: 20px;}
